<div class="bg-light position-fixed" style="width: 300px; height: 100vh;">
    <a href="#" class="border-bottom text-decoration-none d-block p-3 " 
    style="font-size: 20px; font-weight: bolder; color: black;">LOGO</a>
    <nav>
        <ul class="list-unstyled">
            <li class="m-4">
                <a routerLink="home" class="text-decoration-none">Home</a>
            </li>
            <li class="m-4">
                <a href="#" class="text-decoration-none">About us</a>
            </li>
            <li class="m-4">
                <a href="#" class="text-decoration-none">Help</a>
            </li>
        </ul>
    </nav>
</div>
